@{
    ViewBag.Title = "DeleteFailure";
}

<h2>DeleteFailure</h2>



<div>Delete failed</div>

<p>@Html.ActionLink("Back to Get", "DetailsReview")</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

