@{
    ViewBag.Title = "DeleteSuccess";
}

<h2>DeleteSuccess</h2>

<div>Record deleted successfully</div>

<p>@Html.ActionLink("Back to Get", "DetailsReview")</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

