@{
    ViewBag.Title = "Index";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Restaurant Rating</h1>
            </hgroup>
            <p>
                This app allows you to expose your thoughts about visiting various restaurants and help
                others make decisions.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
         <img src="~/Images/restaurant.jpg" />
        <div class="float-right">
          <div>Click on the buttons up and start using the Restaurant Rating App</div>
          <img src="~/Images/man.jpg" />
        </div>
    </section>
</div>

