@{
    ViewBag.Title = "RestaurantSuccess";
}

<h2>RestaurantSuccess</h2>


<div> Restaurant was created successfully</div>
<p>@Html.ActionLink("Back to Get", "RestaurantListByCity")</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
