@{
    ViewBag.Title = "ReviewSuccess";
}

<h2>ReviewSuccess</h2>

<div>Review was created successfully</div>
<p>@Html.ActionLink("Back to Get", "DetailsReview")</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

